<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleacher Report</title>
</head>
<body style="background-color: #276678; color: aliceblue;"> 
    <div class="container-fluid">
        {% block body %} 
        
        
        {% for new, des, i in context%}
        
        <img src="{{i}}" alt="">
        <h2>News :</h2> {{new}}
        <h3>Description :</h3> {{des}}
        
        {% endfor%}
        
        {% endblock %}
        
        </div>
</body>
</html>